* {
    background-color: #fffdd0;
    font-family: Arial, "Times New Roman", Sans-Serif;
    
}

body  {
     
    width: 500px;
    min-width: 200px;
    margin: 0 auto;
 
    
}
h1 {
    color: #800020;
    font-size: 45px;
    text-align: center; 
    padding: 5px;
    border: 5px solid black;  
}


.images { 
    /* width: 50%;
    height: 500px;
    text-align: center;
    padding: 10px;
    border: 5px solid black;
    font-size: 15px; */
    box-sizing: border-box;
    width: 500px;
    height: 550px;
    min-width: auto;
    object-fit: cover;
    padding: 20px;
    margin-top: 10px; 
    border: 5px solid black;

}

.pictures {
    width: 450px;
    height: 450px;
}

    
#menu {
    text-align: left;
    list-style-position: inside;
    padding: 5px;
    border: 5px solid black;
    font-size: 17.5px;
    
}

.ingredients { 
    
}

.steps { 
    
}
